[submodule "benches/gbench"]
	path = benches/gbench
	url = https://github.com/google/benchmark.git
[submodule "benches/abseil"]
	path = benches/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "benches/klib"]
	path = benches/klib
	url = https://github.com/attractivechaos/klib.git
