[submodule "benches/gbench"]
	path = benches/gbench
	url = https://github.com/google/benchmark.git
[submodule "benches/tidwall"]
	path = benches/tidwall
	url = https://github.com/tidwall/hashmap.c.git
[submodule "benches/abseil"]
	path = benches/abseil
	url = https://github.com/abseil/abseil-cpp.git
